@font-face {
	font-family: Rokkitt;
	src: local("Rokkitt Bold"), local("Rokkitt-Bold"), url(https://fonts.gstatic.com/s/rokkitt/v10/Mef17w3J4CtS0lw4Wa_8rxsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
